<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/textures/ad.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,689},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>res/textures/avatar_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,689},{54,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>res/textures/bilayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,491},{101,92}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>res/textures/black_btn.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,853},{105,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,122}</string>
			</dict>
			<key>res/textures/blue_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{1957,904},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/boom0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,28},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>res/textures/boom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,45},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>res/textures/boom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,62},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>res/textures/boom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,79},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>res/textures/boom4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,122},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>res/textures/boom5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,139},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>res/textures/boy_sf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,864},{42,84}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,86}</string>
			</dict>
			<key>res/textures/boy1_sf.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,583},{83,97}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,99}</string>
			</dict>
			<key>res/textures/btn_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,880},{62,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,59}</string>
			</dict>
			<key>res/textures/btn_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,1},{489,153}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{489,169}</string>
			</dict>
			<key>res/textures/bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,269},{84,94}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,115}</string>
			</dict>
			<key>res/textures/button_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,853},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/textures/button_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,155},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/textures/button_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,267},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/textures/canvas.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,820},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/textures/check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1574,721},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/textures/clock_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,172},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>res/textures/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,957},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/textures/credits.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,957},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/textures/details.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,1},{16,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,25}</string>
			</dict>
			<key>res/textures/dynamic_mode.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,491},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/textures/facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,853},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>res/textures/firecracker_sf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,689},{79,74}}</string>
				<key>offset</key>
				<string>{-10,-73}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,219}</string>
			</dict>
			<key>res/textures/game_bubble.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,765},{97,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,44}</string>
			</dict>
			<key>res/textures/game_guid_popup_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,689},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/textures/game_tile_guid_finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,689},{88,79}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,84}</string>
			</dict>
			<key>res/textures/gender_female.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,916},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/textures/gender_male.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,857},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/textures/gender_unknow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,852},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/textures/gift_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1216,689},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>res/textures/girl_sf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,880},{57,79}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,86}</string>
			</dict>
			<key>res/textures/gray_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,957},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/green_button_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,379},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/textures/green_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,957},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/h_needle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2036,47},{17,7}}</string>
				<key>offset</key>
				<string>{14,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>res/textures/head_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,689},{65,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,120}</string>
			</dict>
			<key>res/textures/head_start_super.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,643},{65,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,127}</string>
			</dict>
			<key>res/textures/homepage_blacktile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,1},{317,197}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,201}</string>
			</dict>
			<key>res/textures/homepage_snow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,1},{640,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,16}</string>
			</dict>
			<key>res/textures/homepage_snow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,1},{640,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,22}</string>
			</dict>
			<key>res/textures/homepage_whitetile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,492},{358,195}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,199}</string>
			</dict>
			<key>res/textures/ic_crown_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,853},{137,126}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,138}</string>
			</dict>
			<key>res/textures/ic_crown_active_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,957},{54,48}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/textures/ic_crown_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,853},{137,126}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,138}</string>
			</dict>
			<key>res/textures/ic_crown_disable_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,957},{54,48}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/textures/ic_indicator.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,983},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>res/textures/ic_invitation.png</key>
			<dict>
				<key>frame</key>
				<string>{{1803,689},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>res/textures/ic_invitation_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,853},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>res/textures/ic_song.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,857},{95,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,91}</string>
			</dict>
			<key>res/textures/ic_star_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,770},{138,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,138}</string>
			</dict>
			<key>res/textures/ic_star_active_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,689},{55,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/textures/ic_star_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,853},{138,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,138}</string>
			</dict>
			<key>res/textures/ic_star_disable_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1361,957},{55,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/textures/icon_check.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,365},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>res/textures/icon_musiccoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,853},{117,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,109}</string>
			</dict>
			<key>res/textures/jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1761,957},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/textures/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,770},{1080,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1080,81}</string>
			</dict>
			<key>res/textures/light_sf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1077,152}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1080,152}</string>
			</dict>
			<key>res/textures/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,950},{800,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,10}</string>
			</dict>
			<key>res/textures/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,853},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>res/textures/logo_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1574,770},{300,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,85}</string>
			</dict>
			<key>res/textures/m_needle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2037,21},{7,24}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>res/textures/musicicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,857},{89,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,108}</string>
			</dict>
			<key>res/textures/new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,957},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/textures/play_on_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1},{400,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,200}</string>
			</dict>
			<key>res/textures/purple_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{1807,957},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,957},{55,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/textures/red_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,957},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/reload.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,904},{42,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>res/textures/repeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,904},{51,38}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,38}</string>
			</dict>
			<key>res/textures/score_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,689},{847,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{847,77}</string>
			</dict>
			<key>res/textures/scroll_indicator.png</key>
			<dict>
				<key>frame</key>
				<string>{{2036,66},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,20}</string>
			</dict>
			<key>res/textures/separator.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{2044,1},{18,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,3}</string>
			</dict>
			<key>res/textures/shuffle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,770},{48,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,30}</string>
			</dict>
			<key>res/textures/skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,320},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>res/textures/skull.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,155},{112,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>res/textures/slider_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{2037,1},{5,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,6}</string>
			</dict>
			<key>res/textures/slider_thumb.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,449},{80,82}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,95}</string>
			</dict>
			<key>res/textures/snow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,594},{87,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,100}</string>
			</dict>
			<key>res/textures/snownman.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,155},{87,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,86}</string>
			</dict>
			<key>res/textures/song_picks_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1574,594},{125,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,40}</string>
			</dict>
			<key>res/textures/tile.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,96},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/textures/tile_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{1484,880},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/textures/tree.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,770},{161,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,219}</string>
			</dict>
			<key>res/textures/unlock_song.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,983},{40,40}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/textures/update.png</key>
			<dict>
				<key>frame</key>
				<string>{{1917,449},{41,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/textures/vedio.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,689},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>res/textures/video_banner_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,1},{591,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{591,133}</string>
			</dict>
			<key>res/textures/video_banner_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,983},{39,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,42}</string>
			</dict>
			<key>res/textures/video_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,594},{560,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{560,93}</string>
			</dict>
			<key>res/textures/video_bar_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1292,689},{249,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,109}</string>
			</dict>
			<key>res/textures/video_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1060,689},{79,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,78}</string>
			</dict>
			<key>res/textures/video_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,320},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>res/textures/white_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,884},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/textures/white_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{2036,76},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/textures/white_dot_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,156},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/textures/white_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{1899,957},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/white_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,916},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/textures/whiteBlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,594},{160,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,284}</string>
			</dict>
			<key>res/textures/wt2_ad_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,957},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/textures/yellow_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,957},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/yin1_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1991,957},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>textures.png</string>
			<key>realTextureFileName</key>
			<string>textures.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>