<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/textures/ad.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,499},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>res/textures/blue_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,734},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/canvas.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,876},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/textures/check.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,690},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/textures/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,738},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/textures/details.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,112},{16,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,25}</string>
			</dict>
			<key>res/textures/game_guid_popup_cancel.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,376},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/textures/gift_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,146},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>res/textures/gray_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,727},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/green_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,764},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/ic_crown_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,380},{137,126}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,138}</string>
			</dict>
			<key>res/textures/ic_crown_active_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,671},{54,48}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/textures/ic_crown_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,508},{137,126}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,138}</string>
			</dict>
			<key>res/textures/ic_crown_disable_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,671},{54,48}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/textures/ic_star_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,112},{138,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,138}</string>
			</dict>
			<key>res/textures/ic_star_active_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,617},{55,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/textures/ic_star_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,246},{138,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,138}</string>
			</dict>
			<key>res/textures/ic_star_disable_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,636},{55,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/textures/icon_musiccoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1},{117,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,109}</string>
			</dict>
			<key>res/textures/jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,780},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/textures/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,112},{800,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,10}</string>
			</dict>
			<key>res/textures/musicicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,914},{89,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,108}</string>
			</dict>
			<key>res/textures/purple_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,784},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/rate.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,636},{55,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/textures/red_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,773},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/reload.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,690},{42,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,50}</string>
			</dict>
			<key>res/textures/repeat.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,222},{51,38}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,38}</string>
			</dict>
			<key>res/textures/separator.9.png</key>
			<dict>
				<key>frame</key>
				<string>{{508,1},{18,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,3}</string>
			</dict>
			<key>res/textures/shuffle.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,773},{48,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,30}</string>
			</dict>
			<key>res/textures/skip.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,146},{127,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,52}</string>
			</dict>
			<key>res/textures/skull.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,120},{112,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>res/textures/slider_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1017},{5,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{7,6}</string>
			</dict>
			<key>res/textures/slider_thumb.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,233},{80,82}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,95}</string>
			</dict>
			<key>res/textures/song_picks_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,976},{125,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,40}</string>
			</dict>
			<key>res/textures/tile.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,559},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/textures/tile_large.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,222},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/textures/unlock_song.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,856},{40,40}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/textures/update.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,721},{41,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/textures/vedio.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,438},{61,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>res/textures/video_banner_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,819},{39,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,42}</string>
			</dict>
			<key>res/textures/video_bar_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{249,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,109}</string>
			</dict>
			<key>res/textures/video_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,1},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>res/textures/white_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,823},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/textures/white_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,1017},{6,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/textures/white_dot_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,139},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/textures/white_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,810},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/white_square.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,872},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/textures/wt2_ad_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,559},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/textures/yellow_note.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,826},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/yin1_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,830},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>res/textures/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,976},{40,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,69}</string>
			</dict>
			<key>res/textures/bilayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,914},{101,92}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>res/textures/circulation.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,112},{119,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,81}</string>
			</dict>
			<key>res/textures/pitch_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,317},{68,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,57}</string>
			</dict>
			<key>res/textures/song_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,914},{150,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>textures.png</string>
			<key>realTextureFileName</key>
			<string>textures.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>