<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Happy New Year</key>
	<string>Godt Nytår</string>
	<key>Piano Tiles</key>
	<string>Klaverfliser (Tryk ikke på den hvide flise)</string>
	<key>Classic</key>
	<string>Klassisk</string>
	<key>Arcade</key>
	<string>Arkade</string>
	<key>Arcade - 2</key>
	<string>A|r|k|a|d|e</string>
	<key>Zen</key>
	<string>Zen</string>
	<key>Rush</key>
	<string>Hurtig</string>
	<key>Relay</key>
	<string>Skift</string>
	<key>More</key>
	<string>Mere</string>
	<key>Leaderboard</key>
	<string>Førertavle</string>
	<key>Rate</key>
	<string>Bedøm</string>
	<key>More Game</key>
	<string>Flere spil</string>
	<key>Failed!</key>
	<string>Fejlede!</string>
	<key>Classic Mode</key>
	<string>Klassisk modus</string>
	<key>Arcade Mode</key>
	<string>Arkade modus</string>
	<key>Zen Mode</key>
	<string>Zen modus</string>
	<key>Rush Mode</key>
	<string>Hurtig modus</string>
	<key>Relay Mode</key>
	<string>Skift modus</string>
	<key>NEW BEST</key>
	<string>NY BEDSTE</string>
	<key>BEST</key>
	<string>BEDSTE</string>
	<key>Again</key>
	<string>Igen</string>
	<key>Share</key>
	<string>Del</string>
	<key>Exit</key>
	<string>Afslut</string>
	<key>%s! %s %s!! Awesome! Who can beat me in # Piano Tiles #</key>
	<string>%s, %s %s! Hvem kan slå mig i @Klaverfliser?</string>
	<key>pts</key>
	<string>Points</string>
	<key>Cannot send a Facebook at the moment.</key>
	<string>Applikationen kan ikke oprette forbindelse til Facebook i øjeblikket, fordi Facebook-serveren ikke kan nås, eller fordi du ikke har en Facebook-konto tilknyttet denne enhed</string>
	<key>Facebook</key>
	<string>Facebook</string>
	<key>Tencent Weibo</key>
	<string>Tencent Weibo</string>
	<key>Weibo</key>
	<string>Weibo</string>
	<key>Twitter</key>
	<string>Twitter</string>
	<key>@PianoTiles_facebook</key>
	<string>Klaverfliser</string>
	<key>@PianoTiles_twitter</key>
	<string>@PianoTiles</string>
	<key>Oops</key>
	<string>Ups</string>
	<key>This cannot be done before you install Wechat.</key>
	<string>Du skal installere WeChat først</string>
	<key>Dismiss</key>
	<string>Afvis</string>
	<key>Wechat</key>
	<string>Wechat</string>
	<key>Cancel</key>
	<string>Annuller</string>
	<key>Save</key>
	<string>Gem</string>
	<key>Time Out</key>
	<string>Timeout</string>
	<key>Tutorial: ON</key>
	<string>Tutorial: TIL</string>
	<key>Tutorial: OFF</key>
	<string>Tutorial: FRA</string>
	<key>Don&apos;t touch any white tile!</key>
	<string>Rør ikke nogen hvide fliser!</string>
	<key>Tap the lowest black tiles and get 25 ones as soon as possible.</key>
	<string>Tryk på de nederste sorte fliser og gå til 25 så hurtigt som muligt.</string>
	<key>Tap the lowest black tiles and get 50 ones as soon as possible.</key>
	<string>Tryk på de nederste sorte fliser og gå til 50 så hurtigt som muligt.</string>
	<key>Tap the lowest black tiles and do not miss one.</key>
	<string>Tryk på de nederste sorte fliser, husk at trykke på dem alle.</string>
	<key>Tap the highest black tiles and do not miss one.</key>
	<string>Tryk på de øverste sorte fliser, husk at trykke på dem alle.</string>
	<key>Tap the lowest black tiles as many as you can in 30 seconds.</key>
	<string>Tryk på så mange af de nederste fliser, som du kan i 30 sekunder.</string>
	<key>Tap the lowest black tiles as many as you can in 15 seconds.</key>
	<string>Tryk på så mange af de nederste fliser, som du kan i 15 sekunder.</string>
	<key>Tap the lowest black tiles and get 50 ones in 10&quot;, then you will get more 10&quot; for another 50 tiles...</key>
	<string>Tryk på de nederste sorte fliser og gå til 50 i 10&quot;, så vil du få endnu 10&quot; for endnu 50 fliser...</string>
	<key>Tap the lowest black tiles and get 50 ones in 8&quot;, then you will get more 8&quot; for another 50 tiles...</key>
	<string>Tryk på de nederste sorte fliser og gå til 50 i 8&quot;, så vil du få endnu 8&quot; for endnu 50 fliser...</string>
	<key>Tap the lowest black tiles and get 50 ones in 12&quot;, then you will get more 12&quot; for another 50 tiles...</key>
	<string>Tryk på de nederste sorte fliser og gå til 50 i 12&quot;, så vil du få endnu 12&quot; for endnu 50 fliser...</string>
	<key>x</key>
	<string>x</string>
	<key>Rate 5 if you like the game.</key>
	<string>Giv 5 stjerner, hvis du kan lide spillet.</string>
	<key>Rate 5 for new update.</key>
	<string>Giv 5 stjerner for ny opdatering.</string>
	<key>Later</key>
	<string>Senere</string>
	<key>toRate</key>
	<string>Bedøm</string>
	<key>Screenshot save failed!</key>
	<string>Gem skærmbillede mislykkedes!</string>
	<key>Screenshot Saved!</key>
	<string>Skærmbillede gemt!</string>
	<key>Start</key>
	<string>Start</string>
	<key>Sound: Piano</key>
	<string>Lyd: Piano</string>
	<key>Sound: Default</key>
	<string>Lyd: Standard</string>
	<key>Sound: OFF</key>
	<string>Lyd: FRA</string>
	<key>Sound: Typewriter</key>
	<string>Lyd: Skrivemaskine</string>
	<key>Sound: Guitar</key>
	<string>Lyd: Guitar</string>
	<key>Back</key>
	<string>Tilbage</string>
	<key>Remove Ad</key>
	<string>Fjern annonce</string>
	<key>Tiles Movement</key>
	<string>Flisebevægelse</string>
	<key>Rest Reminder</key>
	<string>Pausepåmindelse</string>
	<key>Remove Ad Forever</key>
	<string>Fjern annoncer for altid</string>
	<key>Only Cost USD $0.99.</key>
	<string>For kun USD $0,99.</string>
	<key>Remove</key>
	<string>Fjern</string>
	<key>Restore</key>
	<string>Gendan</string>
	<key>Faster</key>
	<string>Hurtigere</string>
	<key>Smoother</key>
	<string>Jævnere</string>
	<key>Smoothest is strongly recommended.</key>
	<string>Jævnest anbefales kraftigt.</string>
	<key>This option only affects tiles in Classic, Zen and Relay mode.</key>
	<string>Denne funktion påvirker fliser kun i Klassik, Zen og Skift modus.</string>
	<key>Zero to disable reminder.</key>
	<string>Nul for at deaktivere påmindelsen.</string>
	<key>Remind you to have a rest every specified number of games.</key>
	<string>Påmindelse til at holde en pause efter bestemt antal spil.</string>
	<key>Take a break!</key>
	<string>Hold en pause!</string>
	<key>You can custom this popup in [Main Menu]-&gt;[More]-&gt;[Rest Reminder].</key>
	<string>Du kan brugertilpasse eller lukke dette pop op i [Hovedmenu] -&gt; [Mere] -&gt; [Pausepåmindelse].</string>
	<key>OK</key>
	<string>OK</string>
	<key>Remove Ad Forever purchase failed</key>
	<string>Fjern annoncer for altid-køb mislykkedes</string>
	<key>Remove Ad Forever succeed!</key>
	<string>Fjern annoncer for altid-køb lykkedes!</string>
	<key>Congratulations</key>
	<string>Tillykke</string>
	<key>About</key>
	<string>Om</string>
	<key>Follow us to get latest news of our games.</key>
	<string>Følg os for at få de seneste nyheder om vores spil.</string>
	<key>Plus</key>
	<string>Pro</string>
	<key>Normal</key>
	<string>Normal</string>
	<key>Reverse</key>
	<string>Spejlvende</string>
	<key>Slower</key>
	<string>Langsommere</string>
	<key>Messages</key>
	<string>Beskeder</string>
	<key>Tap Animation: ON</key>
	<string>Tryk-animation: TIL</string>
	<key>Tap Animation: OFF</key>
	<string>Tryk-animation: FRA</string>
	<key>Loading...</key>
	<string>Indlæser...</string>
	<key>No Message</key>
	<string>Ingen beskeder</string>
	<key>Check it out</key>
	<string>Tjek ud</string>
	<key>Are you sure to quit?</key>
	<string>Er du sikker, du vil forlade?</string>
	<key>End Game</key>
	<string>Afslut spil</string>
	<key>Play On</key>
	<string>Spil videre</string>
	<key>Shut Down</key>
	<string>Sluk</string>
	<key>No</key>
	<string>Nej</string>
	<key>signed in google game service failed,would you like to shutdown autologin?</key>
	<string>Login til Google spil-tjeneste mislykkedes, vil du deaktivere auto-login?</string>
	<key>Ad Removed</key>
	<string>Annonce fjernet</string>
	<key>Reset All</key>
	<string>Nulstil alt</string>
	<key>Ad Options</key>
	<string>Annonceindstillinger</string>
	<key>Banner</key>
	<string>Banner</string>
	<key>Popup</key>
	<string>Pop op</string>
	<key>About Ad iOS</key>
	<string>1. Ingen annoncer, hvis Fjern købes; 
2. Vis altid annoncer i nederste banner; 	
3. Kun pop op-annoncer ved afslutning af spil; 	
Det anbefales at bruge pop op i Arkade og Hurtig for at undgå uventede tryk på annoncer.</string>
	<key>About Ad Android</key>
	<string>1. Vis altid annoncer i nederste banner; 
2. Kun pop op-annoncer ved afslutning af spil; 	
Det anbefales at bruge pop op i Arkade og Hurtig for at undgå uventede tryk på annoncer.</string>
	<key>Never Show Again</key>
	<string>Vis aldrig igen</string>
	<key>Preview</key>
	<string>Eksempel</string>
	<key>Theme</key>
	<string>Tema</string>
	<key>Moments</key>
	<string>Øjeblikke</string>
	<key>Arcade+</key>
	<string>Arkade+</string>
	<key>Arcade+ Mode</key>
	<string>Arkade+ modus</string>
	<key>Lightning</key>
	<string>Lyn</string>
	<key>Bomb</key>
	<string>Bombe</string>
	<key>Double</key>
	<string>Dobbelt</string>
	<key>Tiles Size</key>
	<string>Flisestørrelse</string>
	<key>Language</key>
	<string>Sprog</string>
	<key>Confirm</key>
	<string>Udført</string>
	<key>Friends</key>
	<string>Venner</string>
	<key>Community</key>
	<string>Gruppe</string>
	<key>Challenge</key>
	<string>Udfordringer</string>
	<key>Global</key>
	<string>Global</string>
	<key>Warning</key>
	<string>Advarsel</string>
	<key>Don&apos;t play Lightning Mode if you have epilepsy. It may trigger a seizure.</key>
	<string>Spil ikke Lyn modus, hvis du har epilepsi. Det kan udløse et anfald.</string>
	<key>Songs</key>
	<string>Sange</string>
	<key>Add Friends</key>
	<string>Tilføj venner</string>
	<key>Profile</key>
	<string>Profil</string>
	<key>Log in</key>
	<string>Log ind</string>
	<key>Push Notification</key>
	<string>Push-besked</string>
	<key>Restore Purchases</key>
	<string>Gendan køb</string>
	<key>Tiles Collected</key>
	<string>Samlede fliser</string>
	<key>Games Played</key>
	<string>Spillede spil</string>
	<key>Reset</key>
	<string>Nulstil</string>
	<key>Bilayer</key>
	<string>Dobbeltlag</string>
	<key>Mist</key>
	<string>Tåge</string>
	<key>Unstable</key>
	<string>Ustabil</string>
	<key>Rotatory</key>
	<string>Roterende</string>
	<key>Shaky</key>
	<string>Rystende</string>
	<key>Cloudy</key>
	<string>Uklar</string>
	<key>Shift</key>
	<string>Shift</string>
	<key>Change</key>
	<string>Skift</string>
	<key>Unlock</key>
	<string>Lås op</string>
	<key>Unlock multi-color</key>
	<string>Lås multifarve op</string>
	<key>Not enough tiles</key>
	<string>Ikke nok fliser</string>
	<key>More Tiles Needed</key>
	<string>Flere fliser nødvendige</string>
	<key>Playlist</key>
	<string>Afspilningsliste</string>
	<key>me</key>
	<string>mig</string>
	<key>Play more rounds to collect more tiles</key>
	<string>Spil flere runder for at samle flere fliser</string>
	<key>You have %d tiles now.</key>
	<string>Du har %d fliser nu. </string>
	<key>You have %d tile now. </key>
	<string>Du har %d flise nu.</string>
	<key>Request Products failed,please try later.</key>
	<string>Anmod om produkt mislykkedes, prøv igen senere.</string>
	<key>products loading...</key>
	<string>produkter indlæses...</string>
	<key>You have got %d tiles</key>
	<string>Du har fået %d fliser</string>
	<key>or purchase some below.</key>
	<string>eller køb nogle nedenunder.</string>
	<key>Purchase product failed.</key>
	<string>Køb af produkt mislykkedes.</string>
	<key>Shuffle</key>
	<string>Blande</string>
	<key>Wishes</key>
	<string>Ønsker</string>
	<key>ShareWish</key>
	<string>DelØnske</string>
	<key>Piano Tiles - Happy New Year</key>
	<string>Klaverfliser</string>
	<key>New-User Award!</key>
	<string>Ny bruger Pris!</string>
	<key>Diamonds</key>
	<string>Fliser</string>
	<key>PlayOnTips</key>
	<string>Brug fliser for at fortsætte!</string>
	<key>BoostStartTips</key>
	<string>Brug fliser for at lyne over %d fliser!</string>
	<key>Watch video and get bonus!</key>
	<string>Watch video and get bonus!</string>
	<key>Get it now</key>
	<string>Get it now</string>
	<key>Best Wishes</key>
	<string>Best Wishes</string>
	<key>share</key>
	<string>Del</string>
	<key>New year tag</key>
	<string>新年签</string>
	<key>New year tag1</key>
	<string>任性</string>
	<key>New year tag content1</key>
	<string>不将就 我要的现在就要</string>
	<key>New year tag2</key>
	<string>淡定</string>
	<key>New year tag content2</key>
	<string>不念过往 不畏将来</string>
	<key>New year tag3</key>
	<string>改变</string>
	<key>New year tag content3</key>
	<string>每天做更好的自己</string>
	<key>New year tag4</key>
	<string>幸运</string>
	<key>New year tag content4</key>
	<string>越努力 越幸运</string>
	<key>New year tag5</key>
	<string>个性</string>
	<key>New year tag content5</key>
	<string>不要变得 和别人一样</string>
	<key>New year tag6</key>
	<string>逆袭</string>
	<key>New year tag content6</key>
	<string>狂虐高富帅 压倒白富美</string>
	<key>New year tag7</key>
	<string>自由</string>
	<key>New year tag content7</key>
	<string>心所愿 力必至 无所畏惧</string>
	<key>New year share content</key>
	<string>收获新年祝福：%d个！我的新年签：%s！@别踩白块儿 新春版</string>
	<key>NewYearModeTitleDesc</key>
	<string>Happy Chinese New Year! </string>
	<key>NewYearModeDesc</key>
	<string>Mode will end by 03-05 24:00.Piano Tiles wishes you all the best!</string>
</dict>
</plist>
